In [1]:
import pandas as pd

In [29]:
df = pd.read_fwf(
    "https://raw.githubusercontent.com/openelections/openelections-sources-ny/master/2022/general/GEN2022.ASC",
    colspecs=(
        (0, 4),
        (4, 7),
        (7, 11),
        (11, 17),
        (17, 20),
        (20, 23),
        (23, 27),
        (27, 82),
        (82, 120),
        (120, 150),
        (150, 175),
        (175, 178),
        (178, 179)
    ),
    dtype=str,
    names=[
        "Contest Number",
        "Candidate Number",
        "Precinct Code",
        "Votes",
        "Party Code",
        "District Type ID",
        "District Code",
        "Contest Title",
        "Candidate Name",
        "Precinct Name",
        "District Name",
        "Votes Allowed",
        "Referendum",
    ]
)

In [30]:
df.head()

,Contest Number,Candidate Number,Precinct Code,Votes,Party Code,District Type ID,District Code,Contest Title,Candidate Name,Precinct Name,District Name,Votes Allowed,Referendum
0,0001,001,0001,000000,NaN,NaN,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,113001,NaN,00,NaN
1,0001,001,0002,000000,NaN,NaN,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,113002,NaN,00,NaN
2,0001,001,0003,000000,NaN,NaN,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,113003,NaN,00,NaN
3,0001,001,0004,000000,NaN,NaN,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,113004,NaN,00,NaN
4,0001,001,0005,000000,NaN,NaN,NaN,REGISTERED VOTERS - TOTAL,REGISTERED VOTERS - TOTAL,113005,NaN,00,NaN

In [ ]:
# county,precinct,office,district,party,candidate,votes

In [42]:
df['county'] = 'Nassau'

In [43]:
df['district'] = None

In [44]:
trimmed = df[[
    'county',
    'Precinct Name',
    'Contest Title',
    'district',
    'Party Code',
    'Candidate Name',
    'Votes',
]].rename(
    columns={
        "Precinct Name": "precinct",
        "Contest Title": "office",
        "Party Code": "party",
        "Candidate Name": "candidate",
        "Votes": "votes"
    }
)

In [45]:
trimmed.head()

,county,precinct,office,district,party,candidate,votes
0,Nassau,113001,REGISTERED VOTERS - TOTAL,None,NaN,REGISTERED VOTERS - TOTAL,000000
1,Nassau,113002,REGISTERED VOTERS - TOTAL,None,NaN,REGISTERED VOTERS - TOTAL,000000
2,Nassau,113003,REGISTERED VOTERS - TOTAL,None,NaN,REGISTERED VOTERS - TOTAL,000000
3,Nassau,113004,REGISTERED VOTERS - TOTAL,None,NaN,REGISTERED VOTERS - TOTAL,000000
4,Nassau,113005,REGISTERED VOTERS - TOTAL,None,NaN,REGISTERED VOTERS - TOTAL,000000

In [49]:
trimmed['votes'] = trimmed.votes.astype(int)

In [50]:
trimmed.office.value_counts()

Justice of the Supreme Court                   22596
Family Court Judge                             16140
County Court Judge                             12912
District Court Judge District 2                11142
United States Senator                           8608
Governor and Lieutenant Governor                7532
State Comptroller                               7532
Attorney General                                7532
District Court Judge District 1                 6456
Proposal Number One, A Proposition              4304
Representative in Congress District 4           3486
Representative in Congress District 3           3311
State Senator District 7                        1848
State Senator District 5                        1799
State Senator District 9                        1722
State Senator District 6                        1631
District Court Judge District 4                 1626
REGISTERED VOTERS - TOTAL                       1076
BALLOTS CAST - BLANK                            1076
BALLOTS CAST - TOTAL                            1076
Member of Assembly District 16                   763
Member of Assembly District 13                   714
Member of Assembly District 21                   702
Member of Assembly District 19                   678
Member of Assembly District 15                   672
Member of Assembly District 14                   672
Member of Assembly District 22                   623
Member of Assembly District 20                   612
Council Member District 3 Town of Hempstead      594
Member of Assembly District 17                   570
Member of Assembly District 18                   546
State Senator District 8                         456
Member of Assembly District 9                    204
Representative in Congress District 2            154
City Judge City of Glen Cove                     108
Member of Assembly District 10                    48
Member of Assembly District 11                    30
Name: office, dtype: int64

In [54]:
trimmed.to_csv("20221108__ny__general__nassau__precinct.csv", index=False)